<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria Lerner</title>
    <link rel="shortcut icon" href="/img/faviconll.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="contenedor">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/logoll.png" alt="Logo"></a>
            <!-- navbar collapsible -->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Generos Literarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/universal">Universal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autoayuda">Autoayuda</a>
                    </li>
                </ul>
                <!-- busqueda -->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por titulo..."
                        aria-label="Search" name="busquedaTitulo">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!-- ficha del libro -->
        <div class="card-deck">
            <div class="card">
                <img src="/img/book4.jpg" class="card-img-top" alt="Libro 4">
                <div class="card-footer">
                    <small class="text-muted">Seccion: AUTOAYUDA</small>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">EL LENGUAJE DEL ADIOS</h4>
                    <p class="card-text">
                        Autor: MELODY BEATTIE <br>
                        <h4>Precio: $41,000</h4>
                        <button type="button" class="btn btn-outline-success">Comprar Libro</button>
                        <br><br>
                        <p> Resumen del libro: <br>
                            A partir de ejercicios prácticos, rituales y consejos, conoce a la perfección tus chacras;
                            aprende a orientar tu vida según las fases lunares; descubre cuál es la alimentación ideal
                            de una diosa y las esencias que exaltan tu poder; y comprende a qué arquetipo de mujer
                            perteneces para sacar a relucir todo el poder interior y vivir una vida plena y en absoluta
                            armonía.</p>
                        tematica: SUPERACION PERSONAL <br>
                        ISBN: 9786070400445 <br>
                        Editorial: GRUPO EDITORIAL PATRIA <br>
                        Ilustrador: <br>
                        Publicación: 2014 <br>
                        Páginas: 428 <br>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">MEDITACIONES PARA LA RECUPERACION DIARIA</small>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="row align-items-center">
        <div class="col-sm">
            <img class="imgFooter" src="/img/logo_footer.png" alt="logoFoot">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm">
                    <address class="address">
                        <b>LERNER CENTRO</b><br>
                        Avenida Jiménez No 4-35 <br>
                        334 78 26 - 243 05 67282 30 49 - fax: 318 77 40 <br>
                        comunicaciones@librerialerner.com.co <br>
                        Horario: <br>
                        Lunes a viernes: 9 am a 7 pm Sábados: 9 am a 2 pm <br>
                    </address>
                </div>
                <div class="col-sm">
                    <address class="address">
                        <b>LERNER calle 93</b><br>
                        Carrera 11 No 93A-43 <br>
                        636 42 84 - 691 88 32636 42 61 - 636 42 95 <br>
                        comunicaciones@librerialerner.com.co <br>
                        Horario: <br>
                        Lunes a sábado: 10 am a 7 pm Domingo: 11 am a 5 pm <br>
                    </address>
                </div>
                <div class="col-sm">
                    <address class="address">
                        <b>LERNER Calle 85</b><br>
                        Carrera 11 No 85-52 <br>
                        7456871 <br>
                        comunicaciones@librerialerner.com.co <br>
                        Horario: <br>
                        Lunes a sábado: 10 am a 7 pm <br>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row row-cols-2">
                <div class="col"><a href="#"><img src="/img/icons8-facebook-circled-100.png" alt=""></a></div>
                <div class="col"><a href="#"><img src="/img/icons8-twitter-100.png" alt=""></a></div>
                <div class="col"><a href="#"><img src="/img/icons8-instagram-100.png" alt=""></a></div>
                <div class="col"><a href="#"><img src="/img/icons8-whatsapp-100.png" alt=""></a></div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>