<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria Lerner</title>
    <link rel="shortcut icon" href="/img/faviconll.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="contenedor">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/logoll.png" alt="Logo"></a>
            <!-- navbar collapsible -->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Generos Literarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/universal">Universal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autoayuda">Autoayuda</a>
                    </li>
                </ul>
                <!-- busqueda -->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por titulo..."
                        aria-label="Search" name="busquedaTitulo">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!-- lista de libros del genero -->
        <div class="card-deck">
            <div class="card">
                <a href="/a1"><img src="/img/book1.jpg" class="card-img-top" alt="Libro 1"></a>
                <div class="card-body">
                    <h5 class="card-title">LOS 5 LENGUAJES DEL AMOR</h5>
                    <p class="card-text">Es el libro #1 en ventas del New York Times por 8 años 
                        consecutivos...ver más</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">$45,500</small>
                </div>
            </div>
            <div class="card">
                <a href="/a2"><img src="/img/book2.jpg" class="card-img-top" alt="Libro 2"></a>
                <div class="card-body">
                    <h5 class="card-title">EL PODER DEL AHORA</h5>
                    <p class="card-text">¿Qué queremos decir cuando afirmamos de un libro que nos puede cambiar la vida? En realidad, 
                        cualquier lectura tiene el potencial de cambiarnos la vida...ver más</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">$44,000</small>
                </div>
            </div>
            <div class="card">
                <a href="/a3"><img src="/img/book3.jpg" class="card-img-top" alt="Libro 3"></a>
                <div class="card-body">
                    <h5 class="card-title">12 REGLAS PARA VIVIR</h5>
                    <p class="card-text">¿Cuáles son las reglas esenciales para vivir que todos deberíamos conocer? Jordan Peterson, 
                        «el pensador más polémico e influyente de nuestro tiempo»...ver más</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">$49,000</small>
                </div>
            </div>
            <div class="card">
                <a href="/a4"><img src="/img/book4.jpg" class="card-img-top" alt="Libro 4"></a>
                <div class="card-body">
                    <h5 class="card-title">EL LENGUAJE DEL ADIOS</h5>
                    <p class="card-text">A partir de ejercicios prácticos, rituales y consejos, conoce a la perfección tus chacras; 
                        aprende a orientar tu vida según las fases lunares...ver más</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">$41,000</small>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="row align-items-center">
            <div class="col-sm">
                <img class="imgFooter" src="/img/logo_footer.png" alt="logoFoot">
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm">
                        <address class="address">
                            <b>LERNER CENTRO</b><br>
                            Avenida Jiménez No 4-35 <br>
                            334 78 26 - 243 05 67282 30 49 - fax: 318 77 40 <br>
                            comunicaciones@librerialerner.com.co <br>
                            Horario: <br>
                            Lunes a viernes: 9 am a 7 pm Sábados: 9 am a 2 pm <br>
                        </address>
                    </div>
                    <div class="col-sm">
                        <address class="address">
                            <b>LERNER calle 93</b><br>
                            Carrera 11 No 93A-43 <br>
                            636 42 84 - 691 88 32636 42 61 - 636 42 95 <br>
                            comunicaciones@librerialerner.com.co <br>
                            Horario: <br>
                            Lunes a sábado: 10 am a 7 pm Domingo: 11 am a 5 pm <br>
                        </address>
                    </div>
                    <div class="col-sm">
                        <address class="address">
                            <b>LERNER Calle 85</b><br>
                            Carrera 11 No 85-52 <br>
                            7456871 <br>
                            comunicaciones@librerialerner.com.co <br>
                            Horario: <br>
                            Lunes a sábado: 10 am a 7 pm <br>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row row-cols-2">
                    <div class="col"><a href="#"><img src="/img/icons8-facebook-circled-100.png" alt=""></a></div>
                    <div class="col"><a href="#"><img src="/img/icons8-twitter-100.png" alt=""></a></div>
                    <div class="col"><a href="#"><img src="/img/icons8-instagram-100.png" alt=""></a></div>
                    <div class="col"><a href="#"><img src="/img/icons8-whatsapp-100.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>